[adsdata]    
    
ADSDATA_MONGO_DATABASE = adsdata
ADSDATA_MONGO_HOST = localhost
ADSDATA_MONGO_PORT = 27017
ADSDATA_MONGO_USER = adsdata
ADSDATA_MONGO_PASSWORD =

# where scripts/copy_fulltext.py fetches the fulltext from
ADSZEE_MONGO_URI = mongodb://user:pass@host/db

ADSDATA_MONGO_DATA_LOAD_BATCH_SIZE = 100000
ADSDATA_TMP_DIR = 

FULLTEXT_EXTRACT_PATH = /path/to/fulltext/extracted
RABBITMQ_URI = amqp://user:pass@localhost:5672

[collections]
bibstems: /proj/ads_abstracts/config/bibstems.dat
fulltext_links: /proj/ads_abstracts/config/links/fulltext/all.links
refereed: /proj/ads_abstracts/config/links/refereed/all.links
readers: /proj/ads_abstracts/config/links/alsoread_bib/all.links
references: /proj/ads_abstracts/config/links/reference/all.links
citations: /proj/ads_abstracts/config/links/citation/all.links
accnos: /proj/ads_abstracts/config/bib2accno.dat
docmetrics: /proj/ads_abstracts/config/links/relevance/docmetrics.tab
eprint_matches:/proj/ads_abstracts/config/links/preprint/arxiv2pub.list
eprint_mapping:/proj/ads_abstracts/config/links/preprint/arxiv.dat
reads:/proj/ads_abstracts/config/links/reads/all.links
downloads:/proj/ads_abstracts/config/links/reads/downloads.links
grants:/proj/ads_abstracts/config/links/grants/all.links
simbad_object_ids: /proj/ads_abstracts/config/links/simbad/simbad_object_ids.tab
bibstems_ranked: /proj/ads_abstracts/config/links/citation/bibstems_rank.tsv
authors: /proj/ads/abstracts/config/links/facet_authors/all.links

[fulltext]

